
*{
   /* outline: red 1px solid; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
}

/* --- level 1 --- */
header, footer{
    height: 5%;
    background-color: black;
    color: white;

    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 90%;
    display: flex;
    background-color: aquamarine;
}

/* --- level 2 under main--- */
#right-cont, #left-cont{
    flex-grow: 1;
    background-color: antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;
}

#middle-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-cont{
    flex-direction: column;
    gap: 20%;
}

/* --- level 3 under mid-cont --- */
#grid-cont {
    width: 800px;
    height: 800px;
    margin: 2rem;
    background-color: aqua;

    border: solid black 2px;

    display: flex;
    flex-wrap: wrap;
}

.tile {
    background-color: antiquewhite;
    border-top: 1px solid;
    border-right: 1px solid;
    flex-grow: 1;
    flex-shrink: 0;
}

/* --- level 3 under left-cont --- */
#toolbar-cont{
    background-color: aqua;
    width: 10rem;
    height: 60%;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

/* --- level 4 under toolbar-cont --- */
#canvas-color-cont{
    height: 25%;
    background-color: rgb(230, 230, 157);

    display: flex;
    justify-content: center;
    align-items: center;
}

#blending-cont{
    height: 40%;

    display: flex;
    flex-wrap: wrap;
}

#tools-cont{
    height: 35%;
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
}

/* --- level 5 --- */
#color-cont{
    background-color: transparent;
    border: none;
    height: 40%;
    aspect-ratio: 1/1;
}

.blend-opt{
    background-color: rgb(146, 146, 13);
    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-opt{
    background-color: rgb(108, 165, 81);
    height: 33.333%;
}

/* --- level 6 --- */
.circle{
    background-color: blueviolet;
    aspect-ratio: 1/1;
    width: 50%;
    border-radius: 50%;
}

.light-dark{
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 1) 100%);
}

.dark-light{
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.rainbow{
    background: conic-gradient(lime 90deg, yellow 0 180deg, red 0 270deg, blue 0 360deg);
    transform: rotate(135deg);
}

.solid{
    background-color: black;
}