*{
     /*outline: red 1px solid; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: box-shadow .2s;
}

body{
    height: 100vh;
}

/* --- level 1 --- */
header, footer{
    height: 5%;
    background-color: black;
    color: white;

    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 90%;
    display: flex;
    background-color: #e8e8e8;
}

/* --- level 2 under main--- */
#right-cont, #left-cont{
    flex-grow: 1;
    background-color: #e8e8e8;

    display: flex;
    justify-content: center;
    align-items: center;
}

#middle-cont {
    flex-grow: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-cont{
    flex-direction: column;
    gap: 20%;
}

/* --- level 3 under mid-cont --- */
#grid-cont {
    width: 700px;
    height: 700px;
    margin: 2rem;
    background-color: #e8e8e8;

    display: flex;
    flex-wrap: wrap;

    box-shadow: 20px 20px 22px #bebebe,
    -20px -20px 22px #ffffff;
}

.tile {
    background-color: antiquewhite;
    border-top: 1px solid;
    border-right: 1px solid;
    flex-grow: 1;
    flex-shrink: 0;
}

/* --- level 3 under left-cont --- */
#toolbar-cont{
    width: 10rem;
    height: 60%;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    background: #e8e8e8;
    border-radius: 25px;
    box-shadow: 20px 20px 22px #bebebe,
    -20px -20px 22px #ffffff;

    padding: 2px;
}

/* --- level 4 under toolbar-cont --- */
#canvas-color-cont{
    height: 25%;

    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
}

#canvas-color-cont:hover {
    box-shadow: inset 10px 10px 12px #bebebe,
    inset -10px -10px 12px #ffffff;
}

#blending-cont{
    height: 40%;

    display: flex;
    flex-wrap: wrap;
    margin: 5px;

    align-items: center;
}

.line{
    height: 1px;
    width: 50%;
    background: rgb(175, 172, 172);

    align-self: center;
}

#tools-cont{
    height: 35%;    

    display: flex;
    flex-direction: column;
    margin: 5px 10px 10px;
}

.tool-opt{
    display:flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    margin: 5px;
}

.tool-opt:hover{
    box-shadow: inset 8px 8px 12px #bebebe,
    inset -6px -6px 8px #ffffff;
}

/* --- level 5 --- */
.background-color{
    display: none;
}

#color-cont{
    background-color: transparent;
    border: none;
    height: 40%;
    aspect-ratio: 1/1;
}

.blend-opt{
    width: 50%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.blend-opt:hover{
    box-shadow: inset 10px 10px 12px #bebebe,
    inset -6px -6px 8px #ffffff;
}

.tool-opt{
    height: 33.333%;
}

/* --- level 6 --- */
.circle{
    background-color: blueviolet;
    aspect-ratio: 1/1;
    width: 50%;
    border-radius: 50%;
}

.light-dark{
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 1) 100%);
}

.dark-light{
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.rainbow{
    background: conic-gradient(lime 90deg, yellow 0 180deg, red 0 270deg, blue 0 360deg);
    transform: rotate(135deg);
}

.solid{
    background-color: black;
}